<div class="password-container">
    <h1>Change Password</h1>

    <div class="userPassword-container">
        
        <div class="utility">
            <label for="newPassword">New Password</label>
            <input type="text" [(ngModel)]="newPassword" minlength="8" required placeholder="Enter your password"  id="newPassword">
        </div>
        <div class="utility">
            <label for="confirmPassword">Confirm Password</label>
            <input type="text" [(ngModel)]="confirmPassword" minlength="8"  required placeholder="Confirm  your password"  id="confirmPassword">
            <div *ngIf="isValidLength" class="password-error">
                Password must be at least 8 characters long.
            </div>
            <div *ngIf="isValid" class="password-error">
                Password must contain at least one letter and one number.
            </div>
        </div>
        <button (click)="onSubmit()"  class="reset-btn">Reset Password</button>
        
    </div>
    <div *ngIf="passwordMismatch" class="password-mismatch-error">
        Passwords do not match.
    </div>
</div>
