.dashboard-container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.product-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}