.signUp-container{
   /* border: 1px solid gray; */
   width: 300px;
   padding: 15px;
   text-align: center;
   flex-direction: column;
   border-radius: 3px;
   margin-top: 50%;
   background-color: rgb(254, 255, 255);
   box-shadow: 0px 0px 2px 2px rgba(127, 127, 127, 0.336);
  
  

}
.signUp-container .user-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.signUp-container .utility{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.5rem;
    
}
#userPassword,#userEmail,#userName{
    padding: 10px;
    width: 280px;
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
}
.sign-btn{
    background-color: rgb(38, 97, 235);
    color:white;
    margin-top: 10px;
    padding: 10px 15px;
    width: 100%;
    border: none;
    border-radius: 2px;
    font-size: medium;
    &:hover{
        background-color: rgb(19, 75, 205);
        cursor: pointer;
    }
}