<div class="signUp-container">
    <h1>Reset Password</h1>
    <div class="user-container">
        <div class="utility">
            <label for="userEmail">Email</label>
            <input type="text" [(ngModel)]="userEmail" placeholder="Enter your email"  id="userEmail">
        </div>
        <button (click)="onSubmit()" class="sign-btn">Send Link</button>
    </div>
</div>
<!-- <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li> -->